# Tarefa 09 - IBRx100

* **Autor:** *Matheus Percário Bruder*
* **Data:** *13/01/2021*
* **Disciplina:** *TT007*
* **Dataset:** *[IBRx100](http://www.b3.com.br/pt_br/market-data-e-indices/indices/indices-amplos/indice-brasil-100-ibrx-100-composicao-da-carteira.htm)*

Utilizando seus conhecimentos de Python, e ciência dos dados, encontre a carteira de menor risco (maior diversificação) que 
maximize os lucros (retornos). Sua carteira deve ter 5 ativos retirados do índice IBRx100.

Considere o retorno calculado em uma janela de um ano.

Mostre evidências de que sua carteira de ativos é boa! (medidas, gráficos)

## Importações & Dataset

In [81]:
import pandas as pd
from sklearn.cluster import KMeans

In [72]:
ibrx100 = pd.read_csv('IBRx100.csv', sep=';', encoding='utf8')

## Análise descritiva

In [73]:
type(ibrx100)

pandas.core.frame.DataFrame

In [74]:
ibrx100.shape

(100, 5)

In [79]:
ibrx100.tail()

   Codigo          Acao       Tipo  Qtde. Teorica  Part. (%)
95  VALE3          VALE      ON NM     5128642481     17.948
96  VIVT3  TELEF BRASIL     ON EDJ      444219852      0.827
97  VVAR3     VIAVAREJO  ON ATZ NM     1595083594      1.032
98  WEGE3           WEG   ON EJ NM      741148001      2.246
99  YDUQ3    YDUQS PART      ON NM      300483575      0.396

In [76]:
ibrx100.describe()

       Qtde. Teorica   Part. (%)
count   1.000000e+02  100.000000
mean    8.099799e+08    1.000050
std     1.118054e+09    2.050172
min     8.304079e+07    0.030000
25%     2.143135e+08    0.220000
50%     3.336412e+08    0.425500
75%     8.752273e+08    0.900000
max     5.128642e+09   17.948000

In [77]:
ibrx100.dtypes

Codigo            object
Acao              object
Tipo              object
Qtde. Teorica      int64
Part. (%)        float64
dtype: object

## Criando modelo

In [82]:
kmeans = KMeans(n_clusters=3, random_state=11)

In [84]:
kmeans.fit(ibrx100[['Qtde. Teorica','Part. (%)']])

KMeans(n_clusters=3, random_state=11)

In [87]:
kmeans.labels_

array([1, 0, 0, 0, 0, 2, 2, 2, 1, 0, 0, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 2,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0,
       2, 0, 0, 0, 2, 0, 0, 0, 2, 1, 1, 2, 0, 2, 0, 2, 0, 0, 0, 2, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 2, 0, 1, 1, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0,
       2, 0, 2, 0, 0, 2, 0, 1, 0, 2, 2, 0])