<a href="https://colab.research.google.com/github/matheuspercario/TT007-AnaliseDadosPython/blob/master/exercicios/Aula6-strings/ex-strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios - Strings

### Criado por Matheus Bruder / 21.11.2020

**Quadrilha**, *Carlos Drummond de Andrade*

João amava Teresa que amava Raimundo<br>
que amava Maria que amava Joaquim que amava Lili<br>
que não amava ninguém.<br>
João foi pra os Estados Unidos, Teresa para o convento,<br>
Raimundo morreu de desastre, Maria ficou para tia,<br>
Joaquim suicidou-se e Lili casou com J. Pinto Fernandes<br>
que não tinha entrado na história.<br>

Considerando a Quadrilha como string de entrada. Escreva um programa para:
 - Contar quantas vezes aparece 'amava'.
 - Encontrar o primeiro e o último índice em que aparece 'amava'.
 - Encontrar todos os índices em que aparece 'amava'.
 - Substituir 'amava' por 'treinava'.
 - Indique quais linhas começam com 'que'.
 - Obter uma lista com todas a palavras do texto
 - Separar o texto onde exista ','.
 - Substitua os espaços por '__'.
 - Obter uma lista onde conste cada palavra existente no texto, uma única vez, juntamente com sua frequência.

#### Códigos para apoio

In [1]:
quadrilha = """João amava Teresa que amava Raimundo
que amava Maria que amava Joaquim que amava Lili
que não amava ninguém.
João foi pra os Estados Unidos, Teresa para o convento,
Raimundo morreu de desastre, Maria ficou para tia,
Joaquim suicidou-se e Lili casou com J. Pinto Fernandes
que não tinha entrado na história."""

#### Resoluções

In [2]:
# Contar quantas vezes aparece 'amava'.
print(f'quadrilha.count("amava") = {quadrilha.count("amava")}')

quadrilha.count("amava") = 6

In [3]:
# Encontrar o primeiro e o último índice em que aparece 'amava'.
print(f'Primeiro índice = {quadrilha.index("amava")}')
print(f'Último índice = {quadrilha.rindex("amava")}')

Primeiro índice = 5
Último índice = 94

In [4]:
# Encontrar todos os índices em que aparece 'amava'.
indices = []
idx = 0

while True:
    idx = quadrilha.index('amava', idx + 1)
    indices.append(idx)

    if idx == quadrilha.rindex('amava'):
        break
    
print(indices)

[5, 22, 41, 57, 75, 94]

In [5]:
# Substituir 'amava' por 'treinava'.
quadrilha = quadrilha.replace('amava', 'treinava')
quadrilha

'João treinava Teresa que treinava Raimundo\nque treinava Maria que treinava Joaquim que treinava Lili\nque não treinava ninguém.\nJoão foi pra os Estados Unidos, Teresa para o convento,\nRaimundo morreu de desastre, Maria ficou para tia,\nJoaquim suicidou-se e Lili casou com J. Pinto Fernandes\nque não tinha entrado na história.'

In [6]:
# Indique quais linhas começam com 'que'.
for idx, linha in enumerate(quadrilha.splitlines()):
    if linha[0] == 'q' and linha[1] == 'u' and linha[2] == 'e':
        # print(linha)
        print(f'Linha [{idx}] começa com "que"')

Linha [1] começa com "que"
Linha [2] começa com "que"
Linha [6] começa com "que"

In [7]:
# Obter uma lista com todas a palavras do texto
palavras = quadrilha.split()
palavras

['João',
 'treinava',
 'Teresa',
 'que',
 'treinava',
 'Raimundo',
 'que',
 'treinava',
 'Maria',
 'que',
 'treinava',
 'Joaquim',
 'que',
 'treinava',
 'Lili',
 'que',
 'não',
 'treinava',
 'ninguém.',
 'João',
 'foi',
 'pra',
 'os',
 'Estados',
 'Unidos,',
 'Teresa',
 'para',
 'o',
 'convento,',
 'Raimundo',
 'morreu',
 'de',
 'desastre,',
 'Maria',
 'ficou',
 'para',
 'tia,',
 'Joaquim',
 'suicidou-se',
 'e',
 'Lili',
 'casou',
 'com',
 'J.',
 'Pinto',
 'Fernandes',
 'que',
 'não',
 'tinha',
 'entrado',
 'na',
 'história.']

In [8]:
# Separar o texto onde exista ','.
quadrilha.split(',')

['João treinava Teresa que treinava Raimundo\nque treinava Maria que treinava Joaquim que treinava Lili\nque não treinava ninguém.\nJoão foi pra os Estados Unidos',
 ' Teresa para o convento',
 '\nRaimundo morreu de desastre',
 ' Maria ficou para tia',
 '\nJoaquim suicidou-se e Lili casou com J. Pinto Fernandes\nque não tinha entrado na história.']

In [9]:
# Substitua os espaços por ‘__’.
new_quadrilha = quadrilha.replace(" ", "__")
new_quadrilha

'João__treinava__Teresa__que__treinava__Raimundo\nque__treinava__Maria__que__treinava__Joaquim__que__treinava__Lili\nque__não__treinava__ninguém.\nJoão__foi__pra__os__Estados__Unidos,__Teresa__para__o__convento,\nRaimundo__morreu__de__desastre,__Maria__ficou__para__tia,\nJoaquim__suicidou-se__e__Lili__casou__com__J.__Pinto__Fernandes\nque__não__tinha__entrado__na__história.'

In [10]:
# Obter uma lista onde conste cada palavra existente no texto, uma única vez, juntamente com sua frequência.
frequencias = []
palavras_processadas = []
palavras = quadrilha.split()

# preprocessamento
for p in palavras:
    if p[-1] in ",.:;?!":
        palavras_processadas.append(p[:-1])
    else:
        palavras_processadas.append(p)

# Determinando frequencias
for palavra in palavras_processadas:
    freq = palavras_processadas.count(palavra)
    t = (palavra, freq)
    if t not in frequencias:
        frequencias.append(t)

# Printando resultado
for p, f in frequencias:
    print(f'{p:^14} -> {f}')

     João      -> 2
   treinava    -> 6
    Teresa     -> 2
     que       -> 6
   Raimundo    -> 2
    Maria      -> 2
   Joaquim     -> 2
     Lili      -> 2
     não       -> 2
   ninguém     -> 1
     foi       -> 1
     pra       -> 1
      os       -> 1
   Estados     -> 1
    Unidos     -> 1
     para      -> 2
      o        -> 1
   convento    -> 1
    morreu     -> 1
      de       -> 1
   desastre    -> 1
    ficou      -> 1
     tia       -> 1
 suicidou-se   -> 1
      e        -> 1
    casou      -> 1
     com       -> 1
      J        -> 1
    Pinto      -> 1
  Fernandes    -> 1
    tinha      -> 1
   entrado     -> 1
      na       -> 1
   história    -> 1