<a href="https://colab.research.google.com/github/matheuspercario/TT007-AnaliseDadosPython/blob/master/Aula08-numpy/ex-numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício - NumPy

### Criado por Matheus Bruder / 03.12.2020

In [2]:
import numpy as np

### Exercício

Crie uma matriz contendo os valores de 1 a 15, remodele-a para em uma matriz de 3 por 5, em seguida, use técnicas de indexação e corte para executar cada uma das seguintes operações:

 *a) Selecione a linha 2.*

 *b) Selecione a coluna 5.*

 *c) Selecione as linhas 0 e 1.*

 *d) Selecione as colunas 2–4.*

 *e) Selecione o elemento que está na linha 1 e coluna 4.*

 *f) Selecione todos os elementos das linhas 1 e 2 que estão nas colunas 0, 2 e 4.*

---

In [6]:
# Criar matriz
arr = np.arange(1, 16)

In [7]:
# Remodelar matriz
arr = np.reshape(arr, (3, 5))

In [9]:
# Verificar shape
arr.shape

(3, 5)

In [11]:
arr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

---

In [20]:
# a) Selecione a linha 2
arr[2]

array([11, 12, 13, 14, 15])

In [19]:
# b) Selecione a coluna 5 (out of range...) seria 4?!
arr[:, 4:]

array([[ 5],
       [10],
       [15]])

In [14]:
# c) Selecione as linhas 0 e 1
arr[:2]

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [15]:
# d) Selecione as colunas [2 – 4]
arr[:, 2:5]

array([[ 3,  4,  5],
       [ 8,  9, 10],
       [13, 14, 15]])

In [16]:
# e) Selecione o elemento que está na linha 1 e coluna 4
arr[1][4]

10

In [31]:
# f) Selecione todos os elementos das linhas 1 e 2 que estão nas colunas 0, 2 e 4
arr[1:, [0, 2, 4]]

array([[ 6,  8, 10],
       [11, 13, 15]])